@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
  --main-bg-color: hsl(47, 88%, 63%);
  --second-bg-color: hsl(0, 0%, 100%);
  --secound-txt-color: hsl(0, 0%, 50%);
  --main-border-color: hsl(0, 0%, 7%);
  --main-link-color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
}

.attribution p {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}

.attribution a {
  color: var(--main-link-color);
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--main-bg-color);
}

p{
  font-size: 16px;
}

.container {
  display: grid;
  min-height: 90vh;
  place-items: center;
  margin-bottom: 20px;
}

.card {
  background-color: var(--second-bg-color);
  max-width: 20rem;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--main-border-color);
  border-radius: 16px;
  box-shadow: 10px 10px 0px 0.5px var(--main-border-color);
}

.card-image img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.card-category{
  font-weight: 800;
  background-color: var(--main-bg-color);
  margin: 20px 0 15px 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
}

.card-date {
  font-size: 0.9rem;  
  margin-bottom: 15px;
}

.card-text h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-description {
  color: var(--secound-txt-color) ;
  margin-bottom: 15px;
}

.card-avatar {
  display: flex;
}

.card-avatar img{
  max-width: 2.2rem;
}

.card-avatar p {
  align-self: center;
  margin-left: 10px;
  font-weight: 800;
}